# .env
.env

# Logs and temps
*.log
/tmp
.DS_Store
Thumbs.db


# Angular build
/node_modules
/dist
/out-tsc
/bazel-out

/.angular/cache

npm-debug.log
yarn-error.log
/libpeerconnection.log
testem.log

/typings


# Backend Maven
backend/target/

backend/*.jar
backend/*.war
backend/*.ear
backend/*.class

# Maven temp
backend/pom.xml.tag
backend/pom.xml.releaseBackup
backend/pom.xml.versionsBackup
backend/release.properties
backend/dependency-reduced-pom.xml

backend/*.ctxt
backend/bin/
backend/preverified/

# IDEs
.idea/
*.iml
*.ipr
*.iws

.project
.classpath
.settings/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

.c9/
*.launch
*.sublime-workspace
.sass-cache/
/connect.lock
/coverage