:host {
    display: block;
}

.image-container {
    padding: 0;
    line-height: 0;

    img {
        max-width: 100%;
        max-height: 90vh;
        height: auto;
        width: auto;
        border-radius: 4px;
    }
}