.username-link {
    color: var(--secondary-color);
    text-decoration: none;
}

.user-avatar {
    border-radius: 50%;
}

.load-more-container {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    min-height: 150px;
}