:root {
  --background-dark: #0c0e10;
  --surface-dark: #14181c;
  --primary-text: #e1e3e5;
  --secondary-text: #9ab;
  --accent-color: #5e1c7c;
  --warn-color: #f44336;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--background-dark);
  color: var(--primary-text);
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.image-dialog-panel .mat-mdc-dialog-container .mdc-dialog__surface {
  background: transparent !important;
  box-shadow: none !important;
  border-radius: 4px;
}

.user-list-dialog {
  .mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: var(--background-dark);
  }
}

.review-dialog-container {
  .mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: var(--background-dark);
  }
}

mat-paginator {
  margin-top: 24px;
}

.custom-paginator {

  .mat-mdc-paginator-container {
    background-color: var(--background-dark);
    color: var(--secondary-text);
  }

  .mat-mdc-icon-button {
    color: var(--secondary-text);
  }

  .mat-mdc-icon-button:disabled {
    color: var(--surface-dark);
  }

  .mat-mdc-form-field-underline {
    display: none;
  }

  .mat-mdc-paginator-range-label {
    color: var(--secondary-text);
    font-weight: 500;
  }
}