<div class="album-card-container" (click)="openImagePreview($event)" title="Click to enlarge">
    <img [src]="getAlbumCover()" [alt]="album.title" class="album-cover">
    <div class="album-overlay">
        <div class="overlay-content">
            <h3 class="album-title">{{ album.title }}</h3>
            <p class="album-artist">{{ album.artist?.name }}</p>
        </div>
        <a mat-icon-button class="details-button" [routerLink]="['/album', album.id]" title="View album details">
            <mat-icon>arrow_forward</mat-icon>
        </a>
    </div>
</div>