<div class="album-card-wrapper">
    <div class="album-cover-container">
        <img [src]="coverUrl" [alt]="title" class="album-cover">
    </div>
    <div class="album-overlay">
        <div class="overlay-content">
            <h3 class="album-title">{{ title }}</h3>
            <p class="album-artist">{{ artistName }}</p>
        </div>
        <a mat-icon-button class="details-button" [routerLink]="['/album', id]" title="View album details">
            <mat-icon>arrow_forward</mat-icon>
        </a>
    </div>
</div>