<mat-toolbar class="navbar">
  <div class="nav-center">
    <a routerLink="/" class="app-title">SoundRate</a>

    <ng-container *ngIf="!(currentUser$ | async)">
      <a mat-button class="nav-link" routerLink="/login">Login</a>
      <a mat-button class="nav-link" routerLink="/register">Register</a>
    </ng-container>

    <ng-container *ngIf="currentUser$ | async as user">
      <a mat-button class="nav-link profile-link" [routerLink]="['/user', user.username]">
        <img [src]="user.avatarUrl" alt="Avatar de {{ user.username }}" class="toolbar-avatar">
        <span>{{ user.username }}</span> </a>

      <a mat-icon-button routerLink="/settings" title="Configurações">
        <mat-icon>settings</mat-icon>
      </a>

      <button mat-button class="nav-link" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </ng-container>
  </div>
</mat-toolbar>

<main class="main-content">
  <router-outlet></router-outlet>
</main>

<mat-toolbar class="footer" color="primary">
  <span>© 2025 SoundRate</span>
</mat-toolbar>